@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');



body {
    background-image: url("../../images/background.jpeg");
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


.main_page {
   position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: space-between;
    text-align: center;
}



.questions__index__form_main {
    width: 334px;
}

.mainbtn {

 background-color: #4CAF50; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  width: 270px;
  margin-top: 10px;
    cursor: pointer;
}

.main_logo {

font-family: 'Luckiest Guy', cursive;
font-size: 45px;
/* border: 1px solid black; */
width: 400px;


}

.welcome_user {
    font-size: 20px;
}

.aboutus {
  display: flex;
  bottom: 0;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  

  background-color: rgba(196, 194, 194, 0.4)
}

.name {
  display: inline-block;
  margin-left: 50px;
  
}


div.questions__index__form_main {

  border-top: 1px solid aquamarine;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 25%;
  // position: relative;
  // bottom: 0;
  // left: 0;
  // right: 0;
  box-sizing: border-box;

  input, textarea, button {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
  }
  
  input, textarea {
    width: 100%;
    border-radius: 3px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.15);
  }
  
  input:focus, textarea:focus {
    outline: none;
    border: 2px solid #007a00;
  }
  
  input {
    margin-top: 20px;
    margin-bottom: 10px;
    min-height: 30px;
    font-size: 18px;
    font-weight: 600;
    padding: 3px 10px;
  }
  
  textarea {
    resize: none;
    overflow: hidden;
    margin-bottom: 20px;
    min-height: 100px;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 10px;
  }

  div.question-title-input {
    width: calc(94% - 20px);
    margin: 0 calc(3% + 10px);
  }

  div.question-body-input {
    position: relative;
    width: calc(94% - 20px);
    margin: 0 calc(3% + 10px);
  }

  .question-submit-button {
    position: absolute;
    right: 0px;
    bottom: -10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgb(177, 255, 177);
    margin: 0;
    padding: 0;
    color: black;
    // width: 80px;
    // height: 32px;
    text-align: right;    
    border-radius: 5px;  
    box-sizing: border-box;
    padding: 5px 10px;
  }

  .question-submit-button:hover {
    color: rgba(20, 190, 0, 0.5); 
  }

  .question-submit-button:active {
    color: rgba(20, 200, 0, 0.85);
    position: absolute;
    right: 5px;
  }

}