@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


.main_page {
   position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: space-between;
    text-align: center;

    /* border: 1px solid black; */
    
    
}

.mainbtn {

 background-color: #4CAF50; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  width: 270px;
  margin-top: 10px;
    cursor: pointer;
}

.main_logo {

font-family: 'Luckiest Guy', cursive;
font-size: 45px;
/* border: 1px solid black; */
width: 270px;

}

.welcome_user {
    font-size: 20px;
}