.answer_idx_wrapper{
  height: 100%;
  width: 100%;
  > div{
    width: 100%;
    display: block;
  }
}

.answer-index-body{
  height: 80%;
}

.answer_idx_question_container{
  height: 20%;
  padding-top: 15px;
  border-bottom: 1px solid aquamarine;
  > div{
    box-sizing: border-box;
  }
}

.answer_idx_question_title{
  font-size: 22px;
  font-weight: 600;
  margin-left: 20px;
  height: 20%;
}

.answer_idx_question_body{
  font-size: 18px;
  margin: 5px 10px;
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.all-answers{
  height: 75%;
  overflow: auto;
  > div{
    height: 100%;
  }
}

.answer_idx_container{
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  // overflow: auto;
  height: 100%;
  padding: 10px;
  > div {
    width: 97%;
  }
}

.answer_list_header{
  font-size: 20px;
}

.answers-index-form{
  position: relative;
  // margin-top: 2%;
  height: 20%;
}

.input-form{
  height: 100%;
}

.answers-body-input{
  width: calc(94% - 20px);
  height: 70%;
  resize: none;
  margin: 15px 30px;
  border: 1px solid rgba(0,0,0,0.15);
}

.answer-submit-button{
    position: absolute;
    right: 6%;
    bottom: 25%;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.25);
    width: 80px;
    height: 32px;
    text-align: right;
}

.answer-submit-button:hover{
  color: aquamarine;
}
