@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.questions-navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(75, 200, 75, 0.85);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  div.aa-logo {
    width: 125px;
    margin: 0 20px;
        
    a {
      text-decoration: none;
    }

    h2 {
      margin: 0;
      font-family: 'Luckiest Guy', cursive;
      font-size: 24px;
      text-align: center;
      color: black;
    }
  }


  div.question-nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;

    label.questions-searchbar {
      position: relative;

      button{
        display: none;
      }
      
      .iconify {
        position: absolute;
        top: -3px;
        left: 8px;
        font-size: 24px;
        color: rgba(0,0,0,0.2);
      }

      input {
        margin: 0;
        padding: 0;
        width: 100%;
        min-width: 350px;
        height: 40px;
        border-radius: 3px;
        border: 1px solid rgba(0, 100, 0, 0.65);
        box-sizing: border-box;
        padding-left: 35px;
        font-size: 24px;
        font-family: 'Source Sans Pro', sans-serif;

      }

      input:focus {
        outline: none;
        border: 1px solid rgba(0, 100, 0, 0.85);
      }
    }
    
    div.questions-welcome {
      margin: 0 10px;
      margin-left: 40px;

      span {
        width: 120px;
        font-size: 24px;
        font-weight: 600;
        font-family: 'Source Sans Pro', sans-serif;        
      }
    }

    div.questions-logout {
      
      div.logout-button {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 40px;
        background: white;
        font-size: 22px;
        font-weight: 500;
        font-family: 'Source Sans Pro', sans-serif;
        border: 1px solid green;
        border-radius: 3px;
        cursor: pointer;
      }

      div.logout-button:hover {
        // font-weight: 800;
        color: green;
      }
    }
  }
}