.questions-index-item {
  // border: 1px solid red;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  // min-height: 100px
  // cursor: pointer;
  border-bottom: 1px solid aquamarine;

  .question-not-editing {
    position: relative;
    
    .handle-question-show {
      box-sizing: border-box;
      padding: 15px 20px;
      line-height: none;

      .question-author {
        font-size: 24px;
        font-weight: 900;
        display: flex;
        align-items: flex-end;

        .question-asks {
          font-size: 14px;
          font-weight: 600;
          margin: auto 10px auto 10px;
          box-sizing: border-box;
          border: 1px solid rgba(210, 210, 210, 0.5);
          border-radius: 15px;
          padding: 0 8px;
          background: rgba(171, 255, 176, 0.5);
        }

        .question-assigned-to {
          font-size: 14px;
          font-weight: 600;
          margin: auto 10px auto 10px;
          box-sizing: border-box;
          border: 1px solid rgba(210, 210, 210, 0.5);
          border-radius: 15px;
          padding: 0 8px;
          background: rgba(171, 255, 176, 0.5);
        }
      }

      .question-title {
        font-size: 22px;
        font-weight: 600;
      }

      .question-body {
        font-size: 18px;
        box-sizing: border-box;
        padding: 5px 0;
      }
    }

    .question-status {
      position: absolute;
      right: 0px;
      top: 15px;
      display: block;

      .green-status {
        background: rgb(200, 255, 200);
        font-size: 16px;
        font-weight: 600;
      }

      .yellow-status {
        display: none;
        background: rgb(255, 255, 200);
      }
    }

    .question-assigned-status, .question-resolved-status{
      // height: 25px;
      margin: 0 15px;
      border-radius: 5px;
      border: 1px solid rgba(201, 201, 201, 0.514);
      box-sizing: border-box;
      padding: 5px 15px;
      text-align: center;
    }

    .question-functions {
      position: absolute;
      top: 10px;
      right: 15px;
      display: none;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      border: 1px solid rgba(0,0,0,0.1);
      border-radius: 3px;
      box-sizing: border-box;
      padding: 5px 5px;
      background: rgb(245, 255, 245);
      // -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 255, 0, 0.5); 
      box-shadow: 0px 2px 4px 2px rgba(0, 255, 0, 0.5);

      .user__edit__delete {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .question-edit, .question-delete {
        height: 24px;
        padding: 5px 5px;
        cursor: pointer;

        &:hover {
          color:rgba(0,0,0,0.45)
        }
      }

      div.question-assign-button {
        font-size: 14px;
        font-weight: 600;
        margin: auto 10px auto 10px;
        box-sizing: border-box;
        border: 1px solid rgba(210, 210, 210, 0.5);
        border-radius: 3px;
        padding: 5px 8px;
        background: rgba(171, 255, 176, 0.5);
        cursor: pointer;

        &:hover {
          color:rgba(0,0,0,0.45)
        }

      }

      div.question-resolve-button {
        font-size: 14px;
        font-weight: 600;
        margin: auto 10px auto 10px;
        box-sizing: border-box;
        border: 1px solid rgba(210, 210, 210, 0.5);
        border-radius: 3px;
        padding: 5px 8px;
        background: rgba(171, 255, 176, 0.5);
        cursor: pointer;

        &:hover {
          color:rgba(0,0,0,0.45)
        }
      }


    }
  }

  &:hover {
    // background: rgb(245, 255, 245);
    background: rgb(233, 255, 233);
    .question-not-editing {
      div.question-functions {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }



  .question-editing {
    //  border-top: 1px solid aquamarine;
     font-family: 'Source Sans Pro', sans-serif;
     width: 100%;
    //  height: 25%;
     // position: relative;
     // bottom: 0;
     // left: 0;
     // right: 0;
     box-sizing: border-box; 
 
     input, textarea, button {
       font-family: 'Source Sans Pro', sans-serif;
       box-sizing: border-box;
     }
     
     input, textarea {
       width: 100%;
       border-radius: 3px;
       outline: none;
       border: 1px solid rgba(0,0,0,0.15);
     }
     
     input:focus, textarea:focus {
       outline: none;
       border: 1px solid #007a00;
     }
     
     input {
       margin-top: 20px;
       margin-bottom: 10px;
       min-height: 30px;
       font-size: 18px;
       font-weight: 600;
       padding: 3px 10px;
     }
     
     textarea {
       resize: none;
       overflow: hidden;
       margin-bottom: 20px;
       min-height: 100px;
       font-size: 16px;
       font-weight: 500;
       padding: 8px 10px;
     }
 
     div.question-title-input {
       width: calc(94% - 20px);
       margin: 0 calc(3% + 10px);
     }
 
     div.question-body-input {
       position: relative;
       width: calc(94% - 20px);
       margin: 0 calc(3% + 10px);
     }
 
     .question-update-button {
       position: absolute;
       right: 35px;
       bottom: 25px;
       font-size: 32px;
       cursor: pointer;
       border: none;
       background: transparent;
       margin: 0;
       padding: 0;
       color: rgba(0,0,0,0.25);
       width: 80px;
       height: 32px;
       text-align: right;      
     }
 
     .question-update-button:hover {
       color: rgba(20, 190, 0, 0.5); 
     }
 
     .question-update-button:active {
       color: rgba(20, 200, 0, 0.85);
     }
  }
}

